<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col col-sm-auto col-md-4>
                <ion-card color="dark">
                    <ion-card-header>
                        <img src="assets/img/marca.png" />
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-title text-center>CodeFlix</ion-card-title>
                        <form (submit)="login()">
                            <ion-item>
                                <!-- <ion-input type="text" name="email" placeholder="E-mail" [value]="email" (input)="alterouEmail($event)"></ion-input> -->
                                <ion-input type="text" name="email" placeholder="E-mail" [(ngModel)]="user.email"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
                            </ion-item>
                            <button ion-button type="submit" block color="light">Login</button>
                        </form>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
