<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Codeflix - Menu</ion-title>
      <ion-item color="dark">
        <h2>{{user?.name}}</h2>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="dark">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>
    <button menuClose ion-button text-right large color="'light" block clear icon-right (click)="logout()">
      Logout <ion-icon name="exit"></ion-icon>
    </button>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>